.userContainer {
  background-color: #0e4058;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
}

.userContainer h3 {
  display: inline;
  color: #fff;
  margin-bottom: 10px;
}

.userContainer p {
  margin: 5px 0;
  color: #fff;
  display: inline;
}
